
    <footer>
        
        <div class="social">
            <a href="https://www.facebook.com/hristo.georgiev.925" target="_blank">
                <img src="/assets/2021_Facebook_icon.svg.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/dumbalumba/" target="_blank">
                <img src="/assets/instagram-icon.png.png" alt="Instagram">
            </a>
            <a href="https://github.com/icona99" target="_blank">
                <img src="/assets/github-icon.png.jpg" alt="GitHub">
            </a>
            <a href="https://www.google.com/webhp?hl=bg&sa=X&ved=0ahUKEwid7fz34fCEAxWFR_EDHUw7BvYQPAgJ" target="_blank">
                <img src="/assets/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="GitHub">
            </a>
        </div>
        <p>&copy; 2024 Icona Project. All rights reserved.</p>
    </footer>
