footer {
    background-color:#61a0f1;
    color: #fff; 
    padding: 25px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-bottom: 0px;
    max-height: 40px; 
    overflow: hidden; 
    margin-left: 1px; 
}

.social a {
    margin: 0 10px;
    margin-left: 15px; 
    transition: transform 0.3s ease-in-out;
}

.social a:hover {
    transform: scale(1.2); 
}

.social img {
    width: 30px; 
}

.social img:hover {
    filter: brightness(1.3); 
}

p {
    font-size: 28px;
}
