.details-container {
    width: 90%;
    max-width: 600px; /* Променете според вашите предпочитания */
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(162, 162, 162, 0.3);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Уверете се, че padding-ът се включва в общата ширина */
    overflow: hidden; /* Предотвратете появата на скрол */
    text-align: center; /* Центрирайте текста */
}

.details-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.detail-info {
    display: flex;
    flex-wrap: wrap; /* Опция, която разрешава елементите да се превключват на нов ред */
    align-items: center; /* Центрирайте елементите по хоризонтала */
}

.detail-section {
    flex-basis: 100%; /* За да заеме цялата ширина на родителя */
    margin-bottom: 10px; /* Добавете малко разстояние между секциите */
}

.detail-image img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}
.details-container p {
    font-size: 16px; /* Променете според вашите предпочитания */
    line-height: 1.5; /* Променете според вашите предпочитания */
}

.read-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #0056b3;
}
