.details-container {
    width: 95%; /* Увеличете ширината на формата */
    max-width: 700px; /* Променете според вашите предпочитания */
    margin: 0 auto;
    padding: 30px; /* Увеличете padding-а за по-добър външен вид */
    background-color: rgba(162, 162, 162, 0.3);
    border: 2px solid #ccc; /* Увеличете дебелината на границата */
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.details-container h2 {
    font-size: 32px; /* Увеличете размера на заглавието */
    margin-bottom: 20px; /* Увеличете разстоянието под заглавието */
}

.detail-image img {
    max-width: 300px; /* Увеличете максималната ширина на изображението */
    max-height: 200px; /* Увеличете максималната височина на изображението */
    border-radius: 10px; /* Увеличете радиуса на закръгленията */
}

.button-container {
    text-align: center;
    margin-top: 30px; /* Увеличете разстоянието над бутоните */
}

.button-container button {
    padding: 15px 30px; /* Увеличете размера на padding-а на бутона */
    margin: 0 15px; 
    border: none;
    border-radius: 8px; 
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Увеличете размера на шрифта на бутона */
}

.button-container button:hover {
    background-color: #0056b3;
}

.details-container p {
    font-size: 28px; /* Увеличете размера на текста */
    line-height: 1.6; /* Увеличете линейния интервал */
    margin-bottom: 15px; /* Увеличете разстоянието под абзаците */
}
.read-more-btn {
  background-color: #008cff; /* Син цвят */
  color: #fff; /* Бял цвят на текста */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #02448b; /* По-тъмно син цвят при ховър */
}

.read-more-btn:focus {
  outline: none; /* Премахване на контура при фокус */
}
