.error-container {
    position: fixed;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #f44336; 
    color: #ffffff;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 90%; 
    max-width: 650px; 
   animation: bouncedown 1s infinite alternate; 
  }
  
  @keyframes bouncedown {
    0% { transform: translateY(-20px); }
    100% { transform: translateY(20px); }
}
  



  