.marathon-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.marathon-card {
  position: relative; 
  background-color:  rgba(85, 86, 87, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.marathon-card:hover {
  display: block; 
  background-color: #61a0f1;;
}

.marathon-card img {
  width: 100px;
  height: 100px; 
  object-fit: cover; 
  border-radius: 10px; 
}


.marathon-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff; 
}

.marathon-card p {
  margin-bottom: 10px;
  color: #000000;
  overflow: hidden; 
  max-height: 100px; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}


.marathon-card button {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #0159b1;
  border: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.marathon-card button:hover {
  background-color: #0256a6; 
}


.marathon-card button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



