.marathon-container {
  display: flex; /* Използване на Flexbox */
  justify-content: center; /* Центриране на елементите по хоризонтала */
  align-items: center; /* Центриране на елементите по вертикала */
}

/* Стилове за всяка карта на маратон */
.marathon-card {
  background-color: #027efa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.marathon-card img {
  width: 100px; /* Фиксирана ширина */
  height: 100px; /* Фиксирана височина */
  object-fit: cover; /* Запазване на съотношението на страните и запълване на целия контейнер */
  border-radius: 10px; /* Стъргълва ъглите на снимката да съвпаднат с картона */
}

/* Стилове за текста в картона */
.marathon-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff; /* Цвят на текста */
}

.marathon-card p {
  margin-bottom: 10px;
  color: #fff; /* Цвят на текста */
}

/* Стилове за бутона "Details" */
.marathon-card button {
  background-color: #027efa;
  border: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-family: 'Roboto', sans-serif; /* Пример за използване на шрифт */
  font-size: 16px; /* Размер на шрифта */
}

.marathon-card button:hover {
  background-color: #0256a6; /* По-тъмна версия на основния цвят при хостване */
}

/* Допълнителни стилове за анимация при натискане на бутона */
.marathon-card button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



