.marathon-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  

  .marathon-card {
    background-color:  rgba(131, 133, 136, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .marathon-card:hover {
    display: block; 
    background-color: #0159b1;
  }
  
  .marathon-card img {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 10px; 
  }
  
  
  .marathon-card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #fff; 
  }
  
  .marathon-card p {
    margin-bottom: 10px;
    color: #fff; 
  }
  
  
  .marathon-card button {
    background-color: #0159b1 ;
    border: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
  }
  
  .marathon-card button:hover {
    background-color: #0256a6; 
  }
  
 
  .marathon-card button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  
  